<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/reset.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <h1>Welcome to my Message Board</h1>
      <nav>
        <ul>
          <li><a href="/">Board</a></li>
          <li><a href="/new">New</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
